// Include resource ID header
#include "Resource.h"

// Give the location of the iconfiles :)
APPLICATION_ICON ICON "images\\mush.ico"

// Create menu for system tray icon
SYSTRAY_MENU MENU
BEGIN
  POPUP "Systray menu"
  BEGIN
    MENUITEM "&Toggle Hide" , IDM_HIDE_MS
    MENUITEM "&Toggle Minimize" , IDM_MINIMIZE_MS_2
    MENUITEM "&About" , IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "&Exit" , IDM_EXIT
  END
END
